.dockerignore
.env
.git
.gitignore
.vs
.vscode
**/.toolstarget

*.testsettings
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
**/global.json
**/appsettings.override.json
**/pwasettings.json
**/packages/
**/test-results/
**/TestResults/

deploy/docker/**
deploy/basic/**